body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/background_4.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-color: black;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 25px;
}

.header {
    text-align: center;
}

.header_img {
    height: 200px;
    margin-top: 10px;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 1px rgb(41, 41, 25);
}


.rules {
    text-align: center;
}

.timer {
    font-size: 70px;
    text-shadow: 4px 3px rgb(41, 41, 25);
}

.gamearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    text-align: center;
    font-size: 25px;

}

input {
    width: 200px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    margin: 2% 0;
    outline: none;
    border-radius: 25px;
}

.anime {
    display: flex;
    justify-content: space-evenly;
}

.btn,
.one {
    height: 70px;
    background-color: whitesmoke;
    color: rgb(187, 4, 20);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 25px;
    padding: 1rem 2rem;
    font-family: 'Pacifico', cursive;

}

.btn:hover,
.one:hover {
    background-color: rgb(231, 184, 55);
    border: solid 2px rgb(231, 184, 55);
    cursor: pointer;
}

.hidden {
    display: none;
}

.a_btn {
    display: none;
    margin-top: 20px;
}

.btn_pic {
    width: 85px;
    height: 85px;
    margin: 0 30px;
}

.a1,
.a2 {
    margin: 0 30px;
}

@media all and (max-width:800px) {

    .header_img {
        height: 150px;
    }


}

@media all and (max-width:500px) {

    .header_img {
        height: 100px;
    }

    body {
        font-size: 20px;
    }

    .a1,
    .a2 {
        margin: 0;
    }

    .message {
        font-size: 20px;
    }

    .btn,
    .one {
        font-size: 20px;
    }
}